.html {
	font-size: 62.5%;
}
.main {
	margin: 10px 180px;
}
.header {
	background-image: url(Image/vulture.jpg);
	background-size: cover;

}

.navbar {
	float: right;
}
.site-nav-item {
	list-style: none;
	text-decoration: none;
	float: left;
	padding: 5px;
}
.site-nav-item a:hover {
	color: yellow;
	text-decoration: underline;
}
.site-nav-item a {
	text-transform: uppercase;
	color: white;
}
h1 {
	float: left;

}
.main-title {
	font-size: 7.2rem;
	text-transform: uppercase;
	padding: 30px;
	color: white;
}
.title {
	text-align: center;
	font-size: 72px;
	margin: 30px;
}
.about-us {
	background-color: white;
}
h2 {
	font-size: 2.4rem;
	text-align: center;
	padding-top: 100px;
}
.article-title {
	text-transform: uppercase;
	color: black;
	text-align: center;
	font-size: 3rem;
}
.image {
	margin: 15px;
}
.counter {
	background-color: #95e1d3;
	float: right;
	background-size: cover;
	width: 100%;
}
.count {
	float: right;
	margin: 0 auto;
	border-right-color: #b5eae0;
	border-right-width: : 2px;
}
.number {
	text-decoration: none;
	float: left;
	margin: 70px;
	padding-left: 10px;
	list-style: none;
	font-size: 3rem;
	color: white;
	text-align: center;
	border-right-color: #b5eae0;
	border-right-width: : 2px;
}
.tabel {
	float: right;
	padding: 10px;
}
h3 {
	font-size: 1.4rem;
	text-transform: uppercase;
}
.for-all {
	background-image: url(Image/forest.jpg);
	background-size: cover;
}
.rwd-image {
	margin: 0 auto;
	display: block;
}
.man {
	margin: 30px;
	float: left;
}
.btn-active {
	background-color: transparent;
	background-image: url(Image/sun.png);
	border-top: 2px solid grey;
	background-repeat: no-repeat;
    background-position: 15px 50%;
	border-radius: 0px;
	margin: 15px;
	width: 80%;
	padding: 15px;
	float: right;

}