.header {
	background-image: url(Image/vulture.jpg);
	width: 100%;
	height: 1000px;

}

.navbar {
	float: right;
}
.site-nav-item {
	list-style: none;
	text-decoration: none;
	float: left;
	padding: 5px;
}
.site-nav-item a:hover {
	color: yellow;
	text-decoration: underline;
}
.site-nav-item a {
	text-transform: uppercase;
	color: white;
}
h1 {
	float: left;

}
.main-title {
	font-size: 72px;
	text-transform: uppercase;
	padding: 30px;
	color: white;
}
.title {
	text-align: center;
	font-size: 72px;
	margin: 30px;
}
